@function size($step) {
  @return calc(var(--tiny-size) * #{$step});
}

$fs-ramp: (
  "xs": size(3),
  "sm": size(3.5),
  "md": size(4),
  "lg": size(5),
  "xl": size(7),
  "2xl": size(9),
  "3xl": size(12),
  "4xl": size(16)
);

$lh-ramp: (
  "tight": 1.3,
  "base": 1.6,
  "relaxed": 1.86
);

$spacing-ramp: (
  "xs": size(1),
  "sm": size(1.5),
  "md": size(2),
  "lg": size(3),
  "xl": size(4.5),
  "2xl": size(6),
  "3xl": size(9)
);

$radius-ramp: (
  "sm": size(1),
  "md": size(1.5),
  "lg": size(2),
  "xl": size(3),
  "round": 9999px
);
