html,
body,
#root {
  min-height: 100%;
}

body {
  background:
    linear-gradient(127deg, #5ec1fb65, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(336deg, #7de5f369, rgba(0, 0, 255, 0) 70.71%),
    linear-gradient(217deg, #f1fcff36, rgba(0, 255, 0, 0) 70.71%);
}

.mica {
  background-color: rgb(255, 255, 255, 0.8);
  background-image:
    linear-gradient(127deg, rgba(94, 193, 251, 0.1), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(125, 229, 243, 0.2), rgba(0, 0, 255, 0) 70.71%),
    linear-gradient(217deg, rgba(241, 252, 255, 0.2), rgba(0, 255, 0, 0) 70.71%);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}
