.tiny-password-input-wrapper {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: var(--c-border);
    border-radius: var(--tiny-radius-sm);
    padding-left: var(--tiny-space-sm);
    padding-right: calc(var(--tiny-size) * 10);
    display: flex;

    --toggle-padding: var(--tiny-space-sm);
    --c-border: rgb(var(--tiny-rgb-neutral-3));

    &:focus-within {
        --c-border: rgb(var(--tiny-rgb-brand-3));
        outline: 2px solid var(--c-border);
        outline-offset: -1px;
    }

    &[data-invalid] {
        --c-border: rgb(var(--tiny-rgb-danger-base));
    }

    &[data-size="small"] {
        height: calc(var(--tiny-size) * 6);
        --toggle-padding: var(--tiny-space-xs);
        --toggle-fs: var(--tiny-fs-xs);
    }

    &[data-size="medium"] {
        height: calc(var(--tiny-size) * 8);
    }

    &[data-size="large"] {
        height: calc(var(--tiny-size) * 10);
    }

    &[data-disabled] {
        pointer-events: none;
        user-select: none;
        background-color: rgb(var(--tiny-rgb-neutral-1));
        opacity: 0.7;
    }
    transition: border-color 150ms;
    width: 100%;

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.7;
    }
}

.tiny-password-input {
    width: 100%;
    height: 100%;
}

.tiny-password-input-toggle {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: var(--toggle-padding);
    font-size: var(--toggle-fs);
    color: rgb(var(--tiny-rgb-neutral-5));

    &:hover {
        color: rgb(var(--tiny-rgb-neutral-7));
    }
}
